
@{
    ViewBag.Title = "FirstView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>
@*@if (Session["UserId"] != null)
{
    <h4> Hello @Session["Username"].ToString()</h4>
}*@


<dl class="dl-horizontal">
    <div>
        @Html.ActionLink("Click here to Upload your image", "Add", "Image")

    </div>
    <div>
        @Html.ActionLink("Update your profile.", "Edit", "Student")

    </div>

